.ms-parent {
    height: 100%;
}

.ms-body {
    height: calc(100% - 80px);
    width: 100%;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.ms-title {
    font-size: 44px;
    font-weight: bold;
}

